<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
    <booleanAttribute key="fine_grained_profiling" value="false"/>
    <stringAttribute key="implementation_name" value="Parallel (Declarative operations)"/>
    <listAttribute key="models">
        <listEntry value="aliases=&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;modelFile=/hvc-case-study_2021.07/1. hazardlog 2 emf/hvc_emf_hazardlog.model&#10;metamodelUri=http\://org.eclipse.acme/1.0/hazardlog&#10;concurrent=false&#10;type=EMF&#10;readOnLoad=true&#10;storeOnDisposal=false&#10;expand=true&#10;fileBasedMetamodelUri=&#10;metamodelFile=&#10;cached=true&#10;name=S&#10;modelUri=platform\:/resource/hvc-case-study_2021.07/1.%20hazardlog%202%20emf/hvc_emf_hazardlog.model&#10;isMetamodelFileBased=false&#10;validate=false"/>
        <listEntry value="aliases=&#10;reuseUnmodifiedFileBasedMetamodels=true&#10;modelFile=/hvc-case-study_2021.07/2. emf hazardlog 2 AC/hvc_SACM_AC.model&#10;metamodelUri=http\://omg.sacm/2.0/base,http\://omg.sacm/2.0/argumentation&#10;concurrent=false&#10;type=EMF&#10;readOnLoad=false&#10;storeOnDisposal=true&#10;expand=true&#10;fileBasedMetamodelUri=&#10;metamodelFile=&#10;cached=true&#10;name=T&#10;modelUri=platform\:/resource/hvc-case-study_2021.07/2.%20emf%20hazardlog%202%20AC/hvc_SACM_AC.model&#10;isMetamodelFileBased=false&#10;validate=false"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <intAttribute key="parallelism" value="7"/>
    <listAttribute key="parameters"/>
    <booleanAttribute key="profile_model_loading" value="false"/>
    <booleanAttribute key="profiling_enabled" value="false"/>
    <booleanAttribute key="reset_profiler" value="false"/>
    <stringAttribute key="source" value="/hvc-case-study_2021.07/2. emf hazardlog 2 AC/hazardlog2AC.etl"/>
</launchConfiguration>
